<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MERLIN FASHION CLUB</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Nova+Cut&display=swap" rel="stylesheet"> 
    <link rel="stylesheet"  href="/stylesheets/style_index.css">
    <link rel="stylesheet" href="/stylesheets/merlin.css">
    <link rel="stylesheet" href="/stylesheets/demo.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/categories.css">
   
</head>
<style>
   .slogan{
    font-family: 'Beth Ellen', cursive;
    color:black;
    font-size: 36px;
  }
   .author{
    font-family: 'Nova Cut', cursive;
    color:black;
  } 
  .contact-info{
    padding-top:170px;
  }
</style>
<body> 
    <!-- navbar -->
      <nav>
        <div class="logo">
        <h3><a href="merlin.html" class="logo-name">Style Sync</a></h3>
        </div>

        <ul class="nav-links">
        <li><a href="/index">Home</a></li>
        <li><a href="/users">Tailor</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tailor">ContactUs</a></li>
        <li><a href="/users/logout" id="login">LogOut</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      <hr class="navbar-line">
      </nav>
   
    <!-- navbar -->
    <center>
      <div class="contact-info">
        <p class="slogan">"Style Sync."</p>
        <p class="author">Venkata Manikantha</p>
        
        <p class="author">venkatmanikantha1@gmail.com</p>
          <p class="author"><a href=" https://www.linkedin.com/in/venkat-manikantha-6b78a9287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="logo-name">On LinkedIn</a></p>
      </div>
    </center>
      
  
    <script type="text/javascript" src="/javascript/nav.js"></script>
  </body>
</html>
